<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Image Gallery Upload</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="fileInput">Choose an Image:</label>
            <input type="file" name="file" accept="image/*" id="fileInput" required>
            <input type="submit" value="Upload">
        </form>
        <h2>Your Image Gallery</h2>
        <ul>
            {% for image in images %}
            <li>
                <img src="{{ image.image_url }}" alt="Image" style="max-width: 200px; max-height: 200px;">
                <p>{{ image.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>
